
body {
  margin: 0;
  /* background-color: gray; */
  margin-right: 20%;
  margin-left: 20%;
}

.header {
  display: flex;
  margin-bottom: 50px;
}

.header--logo {
  max-width: 60px;
  margin-right: 20px;
}

.completed {
  text-decoration: line-through;
}

.form {
  display: grid;
  gap: 10px;
  align-items: center;
  /* max-width: 600px; */
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 100px;
  margin-left: 100px;
}

.form--button {
  max-width: 200px;
  margin-left: 10%;
}

.clear--button {
  margin-top: 10px;
}

.list {
  margin-bottom: 30px;
}